//----------------------------------------
//  Core
//----------------------------------------

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $cv-font;
}

body {
  margin: 0;
  background-image: url('../../assets/texture.png');
  color: $primary-text-color;
  font-size: 16px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: .25s color, .25s background-color;
  color: $primary-color;

  &:hover,
  &:focus,
  &:active {
    color: darken($primary-color, 10%);
  }

}

@media print {

  body {
    background-image: none;
  }

}

