//----------------------------------------
//  Personal info
//----------------------------------------

@import '../../../css/abstracts/break-points';
@import '../../../css/abstracts/colors';
@import '../../../css/abstracts/mixins';

//----------------------------------------

.photo-container {
  text-align: center;
  margin: 0 0 12px;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1.2px;
  text-align: center;
  text-transform: uppercase;

  span {
    font-weight: 500;
  }

}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.contact-information {
  display: flex;
  justify-content: center;
  margin: 8px 0 0;

  p {
    display: flex;
    align-items: center;
    margin: 0 8px 0 0;
    font-size: 14px;

    .mat-icon {
      @include icon-size(13px);
      margin-right: 4px;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    background-color: $primary-text-color;

    .mat-icon {
      @include icon-size(12px);
      margin-left: 2px;
      color: #FFFFFF;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: darken($primary-text-color, 10%);
    }

    &:last-child {
      margin-right: 0;
    }

  }

  &:before,
  &:after {
    display: block;
    content: '';
    width: 64px;
    height: 0;
    margin-top: -2px;
    border-top: 4px dotted $divider-color;
  }

  &:before {
    margin-right: 16px;
  }

  &:after {
    margin-left: 16px;
  }

}

@include breakpoint($bp-gt-xs) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 24px;
  }

  .contact-information {

    p {
      font-size: 16px;

      .mat-icon {
        @include icon-size(18px);
      }

    }

  }

  .socials {

    &:before,
    &:after {
      width: 93px;
    }

  }
}
