//----------------------------------------
// Experiences
//----------------------------------------

@import '../../../css/abstracts/break-points';
@import '../../../css/abstracts/colors';
@import '../../../css/abstracts/mixins';
@import '../../../css/abstracts/variables';

//----------------------------------------

:host {
  display: block;
  padding: 0 0 20px;

  .experience {
    position: relative;
    margin: 0 0 32px;
    padding: 0 0 13px;

    @include breakpoint($bp-gt-xs) {
      margin-bottom: 48px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .headline {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .name {
        flex-basis: 100%;
        margin: 0 0 8px;
        font-size: $font-size-18;
        font-weight: 500;
        text-align: center;

        @include breakpoint($bp-gt-xs) {
          flex-basis: auto;
          margin: 0 10px 0 0;
        }

      }

      .duration,
      .company {
        display: flex;
        align-items: center;
        margin: 0;

        &.company {
          margin-left: 8px;
        }

        @include breakpoint($bp-gt-xs) {
          margin-left: 8px;
        }

        .mat-icon {
          cursor: default;
          @include icon-size($font-size-20);
          margin-right: 4px;
          color: $primary-color;
        }

      }

    }

    .description {
      margin: 12px 0 0;
      white-space: pre-line;

      @include breakpoint($bp-gt-xs) {
        text-align: center;
      }

    }

    .technologies {
      display: flex;
      justify-content: center;
      margin: 20px 0 0;

      .technology {
        margin: 0 12px 0 0;

        .mat-icon {
          @include icon-color($primary-color, $white);
        }

        &:last-child {
          margin-right: 0;
        }

      }

    }


    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(50% - 50px);
      width: 100px;
      height: 5px;
      background-color: $primary-color;

      @include breakpoint($bp-gt-xs) {
        left: calc(50% - 75px);
        width: 150px;
      }

    }

  }

}
