//----------------------------------------
//  Experience
//----------------------------------------

@import '../../../css/abstracts/break-points';
@import '../../../css/abstracts/colors';
@import '../../../css/abstracts/mixins';

//----------------------------------------

:host {
  position: relative;
  display: block;
  padding: 0 0 13px;

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > p {
      margin: 0;
    }

    .name {
      margin: 0 0 4px 0;
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .time,
      .location {
        display: flex;
        align-items: center;
        margin: 0 0 0 8px;

        .mat-icon {
          margin-right: 4px;
          @include icon-size(20px);
        }

      }

    }

  }

  .description {
    margin: 4px 0 0 0;
    font-size: 14px;
    text-align: center;
    white-space: pre-line;
  }

  .technologies {
    display: flex;
    justify-content: center;
    padding: 14px 0 0;

    a,
    span {
      margin: 0 12px 0 0;

      .mat-icon {

        ::ng-deep .icon-cls {
          color: $primary-color;
          fill: $primary-color;
        }

      }

      &:last-child {
        margin-right: 0;
      }

    }

  }

  &:after {
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    content: '';
    height: 5px;
    background-color: $primary-color;
    width: 100px;
  }

  @include breakpoint($bp-gt-xs) {

    .row {
      flex-direction: row;

      .name {
        margin: 0 8px 0 0;
      }

    }

    &:after {
      left: calc(50% - 75px);
      width: 150px;
    }

  }

}
