//----------------------------------------
//  Language selector
//----------------------------------------

:host {

  @media print {
    display: none;
  }

  .mat-icon {
    margin-right: 8px;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }

  }

}
