//----------------------------------------
//  Colors
//----------------------------------------

$primary-color: #A1D0CA;
$secondary-color: #A9A9A9;
$primary-text-color: #8B8B8B;
$divider-color: #DCDCDC;

$black: #1F292C;
$white: #FFFFFF;
