//----------------------------------------
//  Colors
//----------------------------------------

$primary-color: #A1D0CA;
$secondary-color: #A9A9A9;
$primary-text-color: #A9A9A9;
$divider-color: #DCDCDC;
