//----------------------------------------
//  Mixins
//----------------------------------------

/// Helper to resize mat-icon icons
///
/// @param {Length} $size The desired size
@mixin icon-size ($size) {
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $size;
}

/// Helper to set a mat-icon color
///
/// @param {Color} $color             Apply the color of the icon
/// @param {Color} $secondary-color   Apply a secondary color of the icon, if there is one
@mixin icon-color ($color, $secondary-color: null) {
  ::ng-deep .icon-cls {
    color: $color !important;
    fill: $color !important;
  }

  @if $secondary-color {
    ::ng-deep .icon-cls2 {
      color: $secondary-color !important;
      fill: $secondary-color !important;
    }
  }
}
