<div class="photo-container">
  <img src="assets/photo.jpg" [alt]="'personalInformation.photoAlt' | transloco" />
</div>

<h1>
  {{ personalInformation?.firstName }}
  <span>{{ personalInformation?.lastName }}</span>
</h1>

<h2>{{ personalInformation?.jobTitle }}</h2>

<div class="contact-information">
  <p>
    <mat-icon [attr.aria-label]="'personalInformation.ageIconAriaLabel' | transloco">hourglass_empty</mat-icon>
    {{ 'personalInformation.age' | transloco: { age: personalInformation?.age } }}
  </p>
  <p data-testid="location" *ngIf="personalInformation?.address">
    <mat-icon [attr.aria-label]="'personalInformation.addressIconAriaLabel' | transloco">place</mat-icon>
    {{ personalInformation.address.city }}
    ({{ personalInformation.address.department }})
  </p>
  <p>
    <mat-icon [attr.aria-label]="'personalInformation.emailIconAriaLabel' | transloco">email</mat-icon>
    <a href="mailto:{{ personalInformation?.email }}">{{ personalInformation?.email }}</a>
  </p>
  <p class="print">
    <mat-icon>language</mat-icon>
    <a href="https://cv.valentin-got.fr">https://cv.valentin-got.fr</a>
  </p>
</div>

<p class="about" [innerHTML]="personalInformation?.about"></p>

<div
  class="socials"
  data-testid="socials"
  *ngIf="personalInformation?.socials?.length > 0"
>
  <a
    target="_blank"
    rel="noopener noreferer"
    [href]="social.url"
    [matTooltip]="social.aria"
    [attr.aria-label]="social.aria"
    *ngFor="let social of personalInformation.socials"
  >
    <mat-icon [svgIcon]="social.icon"></mat-icon>
  </a>
</div>
