//----------------------------------------
//  Skills
//----------------------------------------

@import '../../../css/abstracts/break-points';

//----------------------------------------

:host {
  display: block;
  padding: 0 0 20px;

  .main-skills {

    .cv-skill {
      margin-bottom: 16px;
    }

  }

  .secondary-skills {

    .cv-skill {
      margin-bottom: 16px;
    }

  }

  @include breakpoint($bp-gt-xs) {

    .secondary-skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .cv-skill {
        width: 48%;
      }

    }

  }

}
