
//----------------------------------------
//  Not Found
//----------------------------------------

// TODO: Make the "404" responsive

@import '../../../css/abstracts/break-points';

//----------------------------------------

:host {
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: no-repeat url('assets/404.jpg');

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 24px;
    color: #FFFFFF;

    p {
      margin: 0;
    }

    div {
      width: 140px;
      height: 5px;
      margin-bottom: 16px;
      border-radius: 4px;
      background-color: #FFFFFF;
    }

    .p1 {
      font-size: 100px;
      text-transform: uppercase;
    }

    .p2 {
      font-size: 30px;
    }

    .p3 {
      font-size: 19px;
    }

    .go-back {
      width: 360px;
      margin-top: 28px;
      padding: 8px 0;
      font-size: 20px;
      color: #1B6951;
      background-color: rgba(255, 255, 255, .7);
      text-align: center;
      text-transform: uppercase;
      transition: background-color .25s;

      &:hover {
        background-color: rgba(255, 255, 255, .8);
      }

    }

  }

  .txt-404 {
    display: none;
    position: absolute;
    bottom: 87px;
    left: 575px;
    margin: 0;
    color: rgba(255, 255, 255, .8);
    font-family: 'Open Sans', sans-serif;
    font-size: 240px;
    font-weight: 800;
    text-shadow: 0 0 15px rgba(0, 0, 0, .3);
    transform: rotate(26deg);
  }

  @include breakpoint($bp-gt-xs) {

    .message {
      padding-top: 0;

      div {
        width: 320px;
      }

      .p1 {
        font-size: 200px;
      }

      .p2 {
        font-size: 42px;
      }

      .p3 {
        font-size: 27px;
      }

      .go-back {
        width: 400px;
        padding: 16px 0;
        font-size: 26px;
      }

    }

    .txt-404 {
      display: block;
    }

  }

}
